# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
out
.idea

# Ignore mac specific directories
.DS_Store

#Ignore .kotlintest specific directory which lists test failures
**/.kotlintest/